@font-face {
    font-family: 'Fira Sans';
    src: url('/fonts/FiraSans-Regular.woff');
}

.h1, h1 {
    font-size: 36px;
    color: #a7a9ac;
    font-family: "Fira Sans",Helvetica,Arial,sans-serif;
}

BODY {
        border:0;
        margin:0;
        padding:0;
        margin-left:15px;
        margin-top:5px;
        margin-right:10px;
        font-family: "Fira Sans",Helvetica,Arial,sans-serif;
}

.statusTitle
{
        color: black;
        padding-top: 10px;
        padding-bottom: 2px;
        padding-left: 10px;
        margin-bottom: 10px;
        font-weight:bold;
        border-bottom: 1px solid #AAAAAA;
        text-transform:uppercase;
        background-color: white;
        font-family: "Fira Sans",arial,serif;
}

TABLE.status
{
        width: 100%;
}

A.status { 
	background-color: #eee; 
	color: black; 
	font-size: 10pt; 
	text-align: left;
	font-family: "Fira Sans",arial,serif;
}

.nbp_text_small { 
	font-size:100%; 
}

.nbp_text_tiny { 
	font-size:100%; 
}

.nbp_sub_head { 
	border-top:1.5em solid transparent; 
	font-size:100%; 
	font-weight:bold;
	font-family: "Fira Sans",arial,serif;
}

.nbp_description { 
	font-size:120%; 
	text-align:center; 
	font-family: "Fira Sans",arial,serif;
}

.nbp_nobr { 
	white-space:nowrap; 
	font-family: "Fira Sans",arial,serif;
}

.nbp_no_border {
	border:0;
}

#nbp_central_table, 
#nbp_trafficlight_yes_table, 
#nbp_trafficlight_no_table,
#nbp_trafficlight_only_table, 
#nbp_wu_service_table, 
#nbp_wu_host_table { 
	margin:auto;
	width:auto;
}

#nbp_trafficlight_short_table { 
	background-color:black; 
	margin:auto; 
}

#nbp_trafficlight_short_head { 
	display:none; 
}

#nbp_trafficlight_yes_box { 
	position: absolute;
	margin-top: 45px; 
}

#nbp_body_short { 
	background-color:black; 
}

#nbp_body_bi,  
#nbp_body_bi table,  
#nbp_error_text { 
	text-align:left; 
}

#nbp_startingpoint_form_bi, 
#nbp_select_state_form_bi { 
	border-top:0.3em solid transparent; 
}

#nbp_cental_table_box_tl_yes { 
	margin:0; 
	padding:0; 
}

#nbp_single_table_box,
#nbp_cental_table_box_tl_no { 
	margin:0; 
	padding:0; 
}

#nbp_table_tree, 
#nbp_table_list { 
	margin:0; 
	margin-top:3em; 
}

#nbp_button_bar { 
	margin-top:2em; 
	text-align:center; 
}

#nbp_hint { 
	margin-top:1em; 
	text-align:center; 
}

#nbp_foot, 
#nbp_wu_service_head, 
#nbp_wu_host_head { 
	margin-top:2em; 
}

#nbp_foot_version { 
	float:left; 
	font-size:100%; 
}

#nbp_foot_language { 
	float:right; 
	font-size:100%; 
}

#nbp_head_bi, 
#nbp_head_act, 
#nbp_head_wu { 
	margin-bottom:2em; 
}

#nbp_curly_brace {
	background-color:black; 
}
